In [1]:
#7.1
import pandas as pd
import numpy as np
float_data = pd.Series([1, 2, 3, 4, 5, np.nan,6])
float_data
float_data.isna()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [2]:
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])
string_data.isna()

0    False
1     True
2     True
3    False
dtype: bool

In [3]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.isna()
df.dropna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [4]:
df.fillna(0.0)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [5]:
df = pd.DataFrame(np.random.standard_normal((10, 10)))
print(df.iloc[2:, 1])

2    0.323516
3   -0.125574
4   -2.237414
5   -1.146364
6   -0.586955
7   -0.594221
8   -0.720042
9    0.073363
Name: 1, dtype: float64

In [6]:
print(df.iloc[5:,:5])

          0         1         2         3         4
5 -1.127561 -1.146364  0.882897  0.451800  0.494029
6 -2.017007 -0.586955 -0.128540  0.617610  1.670401
7  1.603901 -0.594221 -2.060784 -0.306823  0.709339
8 -0.678326 -0.720042 -0.052004 -0.637672  0.998868
9  1.040832  0.073363 -1.537762 -0.228604 -0.821471

In [7]:
df.fillna(method='ffill', limit = 2)

,0,1,2,3,4,5,6,7,8,9
0,0.190642,-2.127503,0.299653,-0.969219,-0.835780,1.798665,-0.302899,-0.555106,-0.495965,-0.118987
1,1.689822,1.822019,2.945449,0.605872,-0.136013,-0.338058,0.959081,-0.059032,1.150634,-0.536391
2,-1.816960,0.323516,-0.981074,0.990869,-0.236913,1.612327,-0.480889,-0.271927,0.432775,1.163380
3,0.105421,-0.125574,-1.448349,-2.123557,-1.326104,-0.485973,-0.188094,1.987105,-0.395747,-1.185315
4,-1.354321,-2.237414,0.276905,1.555519,1.038846,0.638177,-0.670145,-1.014017,-0.921548,0.468104
5,-1.127561,-1.146364,0.882897,0.451800,0.494029,0.503216,-0.979627,-0.369078,1.930143,-2.388073
6,-2.017007,-0.586955,-0.128540,0.617610,1.670401,-0.475621,1.867784,1.778432,1.363767,0.616782
7,1.603901,-0.594221,-2.060784,-0.306823,0.709339,1.135283,0.488854,-1.464430,-1.532860,-0.136818
8,-0.678326,-0.720042,-0.052004,-0.637672,0.998868,-1.159667,0.066003,-1.778535,-0.660691,-0.085190
9,1.040832,0.073363,-1.537762,-0.228604,-0.821471,0.050312,1.774147,-0.295699,-0.745389,-2.130231

In [8]:
#7.2
json_df = pd.read_json('/content/sample_data/anscombe.json')
json_df.isnull().sum()

Series    0
X         0
Y         0
dtype: int64

In [9]:
json_df.head() #first five rows

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [10]:
json_df.tail() #last five rows

   Series   X      Y
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [11]:
json_df.duplicated().sum()

0

In [12]:
json_df.drop_duplicates(inplace=True)

In [13]:
np.dtype(json_df['X'])

dtype('int64')

In [14]:
np.dtype(json_df['Y'])

dtype('float64')

In [15]:
json_df.replace(19, 180)

   Series    X      Y
0       I   10   8.04
1       I    8   6.95
2       I   13   7.58
3       I    9   8.81
4       I   11   8.33
5       I   14   9.96
6       I    6   7.24
7       I    4   4.26
8       I   12  10.84
9       I    7   4.81
10      I    5   5.68
11     II   10   9.14
12     II    8   8.14
13     II   13   8.74
14     II    9   8.77
15     II   11   9.26
16     II   14   8.10
17     II    6   6.13
18     II    4   3.10
19     II   12   9.13
20     II    7   7.26
21     II    5   4.74
22    III   10   7.46
23    III    8   6.77
24    III   13  12.74
25    III    9   7.11
26    III   11   7.81
27    III   14   8.84
28    III    6   6.08
29    III    4   5.39
30    III   12   8.15
31    III    7   6.42
32    III    5   5.73
33     IV    8   6.58
34     IV    8   5.76
35     IV    8   7.71
36     IV    8   8.84
37     IV    8   8.47
38     IV    8   7.04
39     IV    8   5.25
40     IV  180  12.50
41     IV    8   5.56
42     IV    8   7.91
43     IV    8   6.89

In [16]:
json_df.rename(columns=str.lower)

   series   x      y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [17]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
age_categories = pd.cut(ages, bins)
age_categories

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [18]:
age_categories.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [19]:
print(age_categories.categories)

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [20]:
data = np.random.standard_normal(1000)
data

array([-8.28175839e-02, -2.04383018e+00, -5.76923369e-01,  3.90804678e-01,
       -4.69008089e-01, -4.34411598e-01,  1.20881283e+00, -5.24054142e-01,
       -1.33402734e-01,  2.35001783e-01, -4.65839025e-01, -4.48046180e-01,
        2.38611115e+00, -7.39264305e-01,  2.57218846e-01, -1.53992198e+00,
       -5.53129822e-01, -9.16470747e-01, -2.85566954e-02,  7.45147526e-01,
        7.02964935e-01, -1.41212680e+00,  1.70781381e+00, -1.84639813e+00,
       -2.04416557e-01, -3.81320113e-01,  3.14342960e-01,  1.78023744e+00,
        1.93270948e-01,  1.60342654e+00,  6.19349614e-02, -1.06062976e+00,
        3.12704869e-01,  6.60801296e-02,  3.05698439e-01, -1.28012752e+00,
       -5.34053527e-01, -1.90400819e+00,  9.30376668e-02, -5.40553889e-01,
        2.41263705e-02,  2.08252799e-01, -1.45895878e+00,  1.53792555e+00,
       -7.02306113e-01, -2.41114117e+00, -1.46970708e+00,  5.13032064e-01,
       -1.22094211e+00, -1.89427988e+00, -1.15337737e+00, -1.96952694e-01,
        3.25531386e-01,  2.91002398e-01,  1.11677233e+00, -9.79743362e-01,
        2.27293657e-02, -9.52971708e-01, -6.84765055e-01, -2.97255884e-01,
        5.36199320e-01,  1.10931716e+00, -4.05335758e-01,  1.50341162e+00,
       -4.38088455e-03,  2.34281549e+00, -1.25335010e-02,  8.96097503e-01,
       -6.70182467e-01,  6.13259259e-01, -5.20264089e-01, -3.30229594e-01,
       -7.10501199e-02, -3.84268433e-02,  9.16099864e-01,  8.30473980e-01,
        1.01037190e+00,  1.85239045e+00, -1.27384410e+00, -2.48115141e-01,
        1.14526103e+00, -1.14104210e-01,  1.93378318e-01,  4.61297966e-01,
       -3.28232547e-01,  3.73932925e-01,  1.44761738e+00,  4.32647713e-01,
       -1.61242645e+00, -7.16559165e-01, -1.79752585e+00, -4.22583652e-01,
       -3.64458793e-01, -1.02698354e+00,  1.75836045e+00, -7.61558689e-01,
        1.61328146e-01, -4.67344671e-01, -1.34042168e+00,  2.91455684e+00,
        5.39409674e-01,  1.32533270e+00, -6.21453776e-01,  1.17956681e+00,
       -3.59924706e-01,  1.29038606e+00,  9.60096262e-01,  7.03416093e-01,
       -1.79288742e-01, -1.12020247e+00,  1.17484406e+00,  3.04214063e-01,
        2.20587513e+00, -1.45139943e+00, -1.55893435e-03, -1.43022889e+00,
        2.40071381e-01,  8.26452614e-01,  1.43235558e+00,  2.15063786e-01,
        4.74495972e-02, -6.45322823e-01,  1.09372314e+00,  6.99994803e-02,
        1.44625143e+00,  3.36404404e-01,  1.47315909e+00, -5.22257861e-01,
       -5.33916633e-01, -1.54038494e-01, -2.14693990e+00, -7.20713736e-01,
        1.16382231e+00,  1.05286277e+00, -2.27692005e+00,  1.36630419e+00,
       -2.10524454e-01,  1.04127434e+00, -9.18769112e-01, -8.55522519e-02,
       -4.56136844e-01,  1.59342252e+00, -2.11712298e+00,  3.46008418e-01,
        1.96407324e+00, -3.68845765e+00,  4.35652134e-01,  1.08187656e-01,
        5.84265879e-01,  1.71962454e-01,  5.78742896e-01,  3.33224255e-01,
       -4.54663775e-01, -1.20206439e+00,  4.64082859e-02, -4.46058141e-01,
       -6.45534978e-01, -3.76373634e-01,  7.05914506e-01, -9.06600374e-01,
        1.83580582e+00, -2.28338658e+00, -6.72345168e-01, -1.09096386e+00,
       -1.36974804e+00, -8.31835990e-01,  6.78798450e-01,  2.75666782e+00,
       -1.22118273e+00,  1.24596920e+00,  9.19748267e-01,  6.01338255e-01,
        1.22238279e+00,  3.08671296e-01, -3.92687819e-01, -1.35719439e+00,
        8.08811577e-01,  2.53238047e+00, -2.53151827e-01,  2.70336607e-01,
       -1.70246659e+00, -1.61832438e+00, -5.63470708e-01, -1.64256127e-01,
        9.37360891e-01,  9.65886099e-01,  3.50055428e-01, -4.54228898e-01,
        8.51454787e-01, -9.92280500e-01, -5.71557824e-01, -6.69788669e-01,
       -9.82075399e-01,  1.26254633e+00, -1.69490051e+00, -2.40342647e-01,
       -5.84582746e-01, -3.62812215e-01, -5.91278125e-01,  1.34798072e+00,
        3.15947138e-01, -2.29389974e+00, -1.24464173e+00, -2.48106334e+00,
        2.52048111e+00, -8.57943993e-02, -9.27746891e-01,  1.34056492e+00,
       -1.65091541e-01, -3.75355822e-01, -9.67037045e-01,  6.45302661e-01,
       -1.49801922e+00, -7.54355551e-01,  1.63893132e+00,  6.46603906e-01,
        9.92782731e-01, -3.18477952e-01,  8.73561103e-01, -8.16690738e-01,
        8.13188496e-02,  1.61363412e+00,  6.74358087e-01,  7.20958383e-02,
       -1.87142661e+00, -2.26728292e+00, -1.41493659e-01,  1.34860056e+00,
       -6.35277702e-01, -8.62099446e-01,  5.89147506e-01, -1.34835953e+00,
       -1.32868785e-01,  3.99703212e-01,  5.93963502e-01,  2.99826847e-01,
       -1.20600954e+00, -4.86291629e-01, -3.23583593e+00, -9.28656082e-01,
        1.08217174e+00,  4.33361108e-01,  1.53046720e+00, -3.63697976e-01,
       -8.00798261e-01, -9.92674686e-01,  3.11689942e+00, -1.35392539e+00,
       -1.55349891e-01, -6.27532582e-01,  4.69869167e-01, -1.12858624e+00,
        1.70290840e+00,  1.77035902e+00, -1.20325600e+00,  2.81152033e+00,
       -1.66264964e+00,  7.57524861e-01,  2.71367530e-01, -1.85009214e-03,
        2.06738338e+00,  1.28319722e+00,  9.72094215e-01,  7.25484601e-01,
        8.38319389e-02,  5.37779886e-01,  6.74042929e-02, -3.20403952e-01,
        8.58655596e-01,  2.23146410e+00,  1.45106275e+00,  7.99664012e-01,
        3.68857271e-01,  1.91222467e+00,  6.85852515e-01,  3.18434405e-01,
        7.57285734e-01, -3.57298979e-01, -3.68906773e-01,  2.10864607e-01,
       -2.07910477e-01,  1.97668685e+00, -1.05238379e+00, -1.46324107e-01,
        6.61994236e-01, -5.43648657e-01, -2.09087291e-01,  8.41671949e-01,
        1.73641156e+00,  1.34956671e+00,  6.07148138e-01, -1.97580603e+00,
        1.29767783e-01, -6.15866233e-01,  9.45800774e-01,  1.29793559e+00,
        1.10719869e-01,  3.73953664e-01,  1.30655075e+00, -2.16024741e-01,
        8.40787557e-01, -2.39807157e-02, -3.08419125e-01,  1.54950268e+00,
        2.05432035e-01,  3.76039813e-01, -6.10452861e-01, -7.29974381e-01,
       -1.09921398e+00, -1.17420540e+00, -3.78291360e-01, -4.08877270e-01,
       -6.10091435e-02,  1.27634204e+00, -2.48240605e-01,  9.44092430e-01,
       -1.75728222e+00, -8.22895651e-02, -1.17722818e+00, -1.78017820e+00,
       -9.69585295e-01, -6.37805771e-01, -4.91969509e-01,  6.30866207e-01,
        3.18674138e-01, -9.35272081e-01,  2.82045386e-01,  2.06974144e-01,
       -8.08806857e-01,  1.55258681e+00, -7.41107257e-01,  1.34007272e+00,
        9.49198889e-01,  1.11517241e+00,  7.24260292e-01,  5.72777083e-01,
        2.90832281e-02, -1.49529113e+00, -5.67760201e-02,  2.14061448e-01,
       -4.71762392e-01,  1.04746866e-01, -4.07963922e-01, -8.79134502e-01,
       -1.47372591e-01,  7.91020990e-01, -2.97162373e+00,  1.17869999e+00,
       -6.29384183e-01,  6.31611826e-01, -1.16451511e+00, -2.82048088e-01,
        9.00138195e-01, -1.01747442e+00, -4.32064656e-01, -4.49504424e-01,
        5.53732564e-01, -1.44396852e+00, -1.26860027e+00,  8.55715068e-01,
       -3.95762222e-02,  1.02429173e+00, -7.63265810e-01,  6.53026716e-01,
        1.75940276e-01, -9.10181947e-02,  1.33536168e+00, -2.92686245e-01,
       -2.23307248e+00,  1.19641915e+00, -7.41633533e-01, -2.21056844e+00,
       -7.42365656e-01,  1.25035911e+00,  1.63280966e-01,  4.30180369e-01,
       -1.90472641e+00,  1.66393015e-01, -1.91140994e-01,  4.52662698e-01,
       -3.43395059e-01,  4.64306709e-01,  1.01580524e+00,  9.89393295e-01,
        3.35397402e-02,  9.84667155e-02,  1.15488642e+00,  6.72132926e-01,
        7.14541808e-01, -3.01923424e-02,  6.49951672e-01,  9.52681575e-01,
        1.81816268e+00,  1.08891180e+00,  4.03405487e-01,  1.04178416e-01,
        1.04636581e+00,  1.00814406e+00, -5.22125194e-01,  1.70826504e-01,
        3.67443436e-01,  9.82132990e-01,  7.77245821e-02, -6.60019695e-01,
        1.54651122e+00, -4.31891612e-01,  3.28137836e-01,  1.01500175e+00,
        1.93208794e+00, -1.51759950e-01, -6.60604400e-01, -1.12147764e+00,
       -1.28329250e+00,  1.02716389e+00, -1.13733965e-01, -4.09390304e-01,
       -1.07637033e+00,  1.74947958e+00, -3.46572925e-01,  6.36850400e-01,
        8.93959027e-01, -3.40366179e-01, -1.01899302e+00, -5.84233738e-01,
        1.91144900e-01, -1.86537133e+00, -6.05433341e-01, -8.82689116e-01,
       -2.09913863e+00,  6.39851192e-01,  1.32166533e-01, -1.40195083e+00,
       -1.20526870e+00,  4.52370101e-01, -7.57614710e-01,  1.17017101e-01,
        1.57510367e+00,  1.82145873e-01,  1.42292594e+00, -5.40148180e-01,
        1.65010807e-01, -1.40367104e-01,  3.33270662e-01, -2.38692678e-01,
       -6.60387610e-01, -7.46691055e-01, -4.85349173e-01, -1.39928724e+00,
        3.87417223e-01, -4.24189445e-01,  1.44766216e-01, -1.04082158e+00,
        1.02534758e+00,  8.48678134e-01, -9.32351062e-01, -1.51802163e+00,
        1.47206678e+00,  1.39770545e-01,  5.43832554e-01,  4.56423596e-01,
       -3.79537543e-01, -1.31021416e+00,  1.22978893e+00, -6.89642889e-01,
        2.28217769e+00, -6.33754101e-01,  1.33030455e+00, -1.64757507e+00,
       -2.96518787e-01,  2.20674574e+00, -3.22120870e-01,  6.28907401e-01,
        5.65918968e-01, -8.73333585e-02, -1.14022420e-01, -2.30198894e-01,
       -6.92554106e-01, -8.88955248e-02,  5.94813353e-01,  5.48396906e-01,
        2.47518975e+00,  2.98721578e-01, -4.01117755e-01,  5.76040188e-01,
       -2.15103949e+00, -4.38734237e-01, -1.08080319e+00,  2.47262370e-01,
        4.94776345e-01, -1.38051251e+00, -1.97732512e+00,  1.39896070e-01,
        1.04883226e+00,  7.30497530e-02, -1.23264816e+00,  5.46108949e-01,
       -5.64946422e-02,  6.36327575e-01,  1.24788419e+00, -3.49886170e-02,
        2.20469718e-01, -2.66592467e+00, -9.23596078e-01,  3.88822684e-01,
        4.96101810e-01, -7.30465027e-01,  6.16784271e-01, -9.47716110e-01,
        1.13530573e+00,  3.14622151e+00,  1.63450867e-01, -8.50472189e-01,
        2.85313452e-01, -3.51206611e-02, -3.15006635e-01,  9.94848760e-01,
        1.16636877e+00, -1.08495771e+00, -6.26899091e-01,  2.09764150e+00,
        3.46524959e-01, -8.48440707e-02, -1.00920611e+00, -1.51920773e+00,
        8.25809289e-01, -2.04925298e-01, -5.29914625e-01, -4.67534331e-01,
       -3.87017676e-01,  1.79488567e+00, -3.31377070e-02,  1.08334908e+00,
        1.37006536e+00,  1.05170458e-01, -6.19572835e-01,  1.35034109e+00,
        1.50157162e-01,  9.89436313e-01, -4.59816551e-01,  6.78074809e-01,
        1.85808633e-01,  9.54368868e-01, -1.13563974e+00,  1.37465799e-01,
       -1.43173305e+00,  3.07207888e-01,  8.13613708e-01, -2.03971763e-01,
       -3.16923943e-01, -4.05649264e-01, -1.96000350e-01, -2.27144505e-01,
       -6.64475589e-01,  7.17827242e-02, -9.63220549e-01, -1.23924495e+00,
        4.15421709e-01,  1.98989587e+00,  1.54530258e+00,  9.87894969e-01,
        7.01447231e-01,  9.08887445e-01, -2.24313128e-01,  1.05943922e+00,
        8.25538371e-01,  2.05940046e-01,  8.63488843e-01,  2.16464740e-01,
       -2.11023733e+00,  6.49029873e-01,  8.62414261e-01, -1.23857199e-01,
       -6.33489310e-01,  1.25581487e+00,  8.27846227e-01, -8.64414344e-01,
        8.50241883e-01, -3.29821858e+00, -2.79928706e-01,  1.67894584e-01,
        8.73034185e-01,  1.13667527e+00,  9.43572963e-01, -6.31999319e-01,
       -1.43619071e+00, -2.52037872e-01,  4.73890753e-01,  1.10668023e+00,
        2.32470017e-01,  5.37321937e-01, -2.57527604e-01,  6.49480191e-01,
        3.97014735e-01,  1.87775656e-01,  1.41802264e+00, -4.15633584e-01,
       -1.23464395e-01, -8.70840909e-02, -1.18716739e-01, -1.28213680e+00,
       -2.35274647e-01,  4.64758080e-01,  1.57026211e-02,  1.87760179e+00,
        8.58160541e-01, -1.20751311e+00, -8.27945629e-02, -9.29658635e-01,
       -5.41926284e-01, -8.16690937e-01,  5.96317084e-02, -9.63760119e-01,
        1.02400630e+00, -1.02499013e+00,  1.19874901e-01,  1.11030771e-01,
       -1.68318786e-01,  4.17342904e-01,  5.46978024e-01, -2.79389137e-02,
        3.67557086e-01,  1.72589605e+00,  5.67457295e-01,  1.23692656e+00,
       -9.95500875e-01,  7.81115799e-01,  8.92754169e-01, -1.51538959e+00,
       -1.72312349e-01, -1.62813756e+00, -5.75112727e-01, -2.95732967e-01,
       -1.17111666e+00, -2.80223362e-01,  5.78303329e-01, -1.77897202e-01,
       -3.39940487e-01, -1.44601457e-01, -7.06563257e-01,  5.99426005e-01,
        9.84404790e-02,  6.34912074e-01, -3.21117305e-01, -2.78201764e+00,
       -1.90788650e+00,  4.73383631e-01, -1.28529797e+00,  1.18714940e-01,
        1.86339683e-01, -1.88658438e+00,  1.78101794e-01,  2.85738835e-01,
        2.07322054e+00,  1.45795354e+00,  1.33025493e-01,  1.78412435e+00,
       -1.79709047e+00, -1.47131751e+00, -1.13255310e+00,  2.60029384e+00,
        8.45511612e-01, -6.19446387e-02,  1.37853872e+00, -3.88067817e-01,
        6.44726615e-01,  9.26797282e-01, -1.11301280e+00,  5.40951270e-01,
        2.75800314e-01, -7.81746177e-01,  2.02978530e+00, -6.84935491e-01,
       -1.56962494e+00, -2.29627197e-01, -5.97342228e-02,  2.93101904e-01,
        6.22038802e-01,  2.57204971e+00,  2.37639407e-01,  1.27933773e-01,
        3.57636110e-01,  9.15368350e-01, -1.54364050e-01, -1.20442486e+00,
       -6.35362120e-01, -3.03040123e-01,  5.09428930e-01, -1.58435032e-01,
       -1.33680890e+00,  2.74317914e-01,  2.23597612e+00,  4.41056355e-02,
       -2.19532236e+00, -6.72451198e-02, -8.45770392e-01, -3.29514417e-01,
        2.09160059e-01,  2.54631186e+00,  9.63452602e-01,  7.36174590e-01,
        2.34161382e+00, -1.70183873e+00,  8.59840560e-03, -7.44873028e-01,
       -3.13113821e-01,  1.94329550e+00, -1.23003243e-01,  5.57024744e-01,
       -7.08188505e-01, -8.92415741e-01,  1.63188584e+00, -7.57315877e-02,
       -5.92843408e-01,  1.61152282e-01, -8.68049567e-01, -1.26031229e+00,
        1.12759128e+00,  8.51083712e-01, -5.88011419e-01, -1.06057736e+00,
        1.65312160e+00,  4.35231248e-01,  1.13413059e-01, -6.26584609e-02,
        1.12030732e+00,  1.96687108e-01, -6.51499295e-01,  3.47899987e-02,
        1.08129601e+00,  7.89626902e-01, -1.62115285e+00,  3.93834387e-01,
        1.31144008e+00, -5.22423978e-01,  3.27344643e-01, -3.06385420e-01,
       -1.21568011e+00,  5.40416321e-01, -3.81372696e-01,  7.99256166e-01,
       -3.44526125e-01,  1.42496805e+00, -4.04978471e-01, -1.93052192e-02,
       -5.38796731e-02, -3.74010413e-01,  9.73053316e-01, -2.30208656e+00,
        6.50036753e-01,  3.83248178e-01, -7.47606488e-01, -5.57711808e-02,
        1.40504778e-01,  9.51920712e-01, -1.41456813e+00, -4.77771304e-01,
        1.07036045e+00,  6.45291068e-01, -1.06097877e+00, -1.27951713e+00,
        5.63339927e-02,  1.15703568e+00, -4.93436446e-01, -4.83698848e-01,
       -1.15654927e+00,  9.69816496e-01, -6.81205893e-01,  2.65614752e-01,
        1.13033884e+00, -3.85067868e-01, -7.03813392e-01,  7.81623178e-01,
       -1.46857454e-01, -2.30990617e+00,  4.19347347e-01, -4.91997524e-01,
       -1.48841692e+00,  5.44151457e-01,  1.30079415e+00,  7.12644828e-01,
        5.14263376e-01, -9.86961917e-01, -1.14487988e+00, -3.77453934e-01,
       -6.77737735e-01, -2.29125969e-01, -5.53498169e-01,  1.64200162e+00,
        9.10569308e-01, -7.14342416e-02,  1.46783947e-01,  9.53151167e-01,
       -1.80029074e+00, -1.02258330e-02, -2.01415007e+00, -2.20909243e+00,
       -9.13882535e-01, -6.42237606e-01,  1.21349349e+00,  2.94403494e-01,
       -1.37475164e+00,  2.74065795e-01,  1.43437887e-01, -7.48019224e-01,
        2.53185174e+00, -3.60020242e-01,  1.43731275e-01,  5.18580934e-01,
       -1.55899633e-01, -8.98620780e-01, -7.58590196e-01, -5.48908126e-01,
       -2.37435322e-01,  3.67240942e-01,  1.37136502e+00,  4.98727755e-01,
        4.18681972e-02, -4.01505046e-01, -2.89192845e-01, -1.17562307e+00,
        9.61869276e-01,  9.28902419e-01,  3.97818138e-01,  9.17341089e-01,
       -4.34436554e-01,  1.32060762e+00, -6.97762065e-01,  4.39836858e-01,
       -5.52041093e-01, -1.83973772e+00,  4.42531215e-01,  1.36084118e+00,
        9.96088628e-01,  9.73159481e-01,  4.35604096e-01, -4.79342922e-01,
       -9.53146817e-01, -1.16209976e+00,  1.36602023e+00, -5.70727447e-01,
       -1.84696165e+00,  1.14040947e+00, -3.07058613e-01, -1.96048402e+00,
       -5.42527213e-01,  7.87395467e-01, -1.35456624e+00,  5.30375959e-01,
       -9.40876161e-01,  2.62444963e-01, -4.91793948e-01,  1.93054998e+00,
        3.68450145e-01, -1.96039685e+00, -8.69628612e-01,  1.27828659e+00,
       -1.34017493e+00, -1.88221929e-01,  1.15032198e+00, -5.74910354e-02,
       -2.06095066e+00, -2.32946082e+00,  1.25237788e+00,  1.68468553e+00,
       -1.18476199e+00, -6.05672278e-01, -1.03463912e+00, -1.02022363e+00,
       -1.42455820e-01,  6.56452635e-01, -8.84835753e-01,  2.48245449e-01,
       -4.94063015e-01,  6.78387392e-01,  8.16092115e-02,  1.57810129e+00,
       -3.44867146e-01,  1.12584280e-01,  1.46617516e+00, -7.96220819e-01,
        2.19377231e-01, -1.00441248e+00,  7.23505808e-01, -1.08114927e+00,
       -2.37354456e-01,  1.62595496e+00,  5.98582213e-01, -2.10707408e-01,
        8.69389379e-01,  1.33501327e+00, -4.47137062e-01, -1.94917906e+00,
       -1.39542018e+00,  1.66400293e-01,  1.42462711e+00,  1.03000998e+00,
       -1.16840028e+00, -1.30169342e+00, -7.10150557e-02,  8.79468570e-01,
        1.63492557e+00, -1.36148261e+00, -4.99681682e-01,  4.06999026e-01,
       -8.90329043e-01, -2.14548330e-01,  2.17616336e-01, -1.36280018e+00,
       -1.10408721e+00,  1.08559679e+00, -1.55251384e+00,  1.05844191e+00,
       -7.90600510e-01,  3.20536627e-02, -2.48255436e+00, -5.51813533e-01,
       -1.58366289e+00, -6.39789266e-01, -1.07092793e+00, -1.23195906e-01,
        1.50975045e-01,  1.48787367e+00, -1.74036547e+00, -3.49512887e-01,
        4.36101551e-01, -1.16444459e+00,  1.18265862e+00,  1.06612955e+00,
        1.88866219e+00,  1.03630610e-01, -2.05173703e-01, -1.18733821e+00,
       -8.38981040e-01, -1.55450342e+00,  1.64205181e+00,  1.66778364e+00,
       -4.82288851e-01, -2.13043605e+00,  2.65213329e-01,  3.01461672e-01,
        4.78123357e-01, -5.66199105e-01,  5.03481554e-01,  3.76610307e-01,
       -5.99079921e-01, -9.02071321e-01, -4.82669254e-01,  9.48086065e-01,
       -1.22873461e-01,  1.76720997e+00, -1.17103406e+00, -1.41430946e+00,
        3.31877517e-01,  9.25890814e-01,  1.10102738e-01, -6.43846058e-01,
       -3.35697476e-01, -4.52762307e-01,  2.93163601e-02,  5.78078479e-01,
        9.03320779e-02, -1.41298948e+00, -1.18383411e+00, -2.09179860e+00,
       -1.22788083e+00, -8.43329688e-02, -1.19757969e+00, -3.89183739e-01,
       -4.80221698e-01, -1.10167352e+00, -2.31130817e-01, -9.48886973e-01,
       -4.51776564e-01,  3.70879630e-01,  8.57760537e-01, -5.42124934e-01,
       -7.68385594e-02,  1.18706604e+00,  8.96394043e-01, -9.21907364e-02,
       -9.22575565e-02,  1.80075394e+00, -2.04356864e-01, -1.78219580e-01,
       -1.34862703e+00,  6.17941947e-01,  4.16944136e-01, -1.34754723e+00,
       -2.04320721e+00, -4.89693990e-01,  1.46254471e-01, -6.47154813e-01,
        1.00957296e-01,  3.10525315e-01, -8.01629523e-01, -7.96254592e-02,
        1.13506069e+00,  6.63561856e-01, -2.23478359e+00, -2.76565474e-01])

In [21]:
quartiles = pd.qcut(data, 4, precision=2)
quartiles

[(-0.66, -0.028], (-3.6999999999999997, -0.66], (-0.66, -0.028], (-0.028, 0.68], (-0.66, -0.028], ..., (-0.66, -0.028], (0.68, 3.15], (-0.028, 0.68], (-3.6999999999999997, -0.66], (-0.66, -0.028]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.6999999999999997, -0.66] < (-0.66, -0.028] < (-0.028, 0.68] <
                                           (0.68, 3.15]]

In [22]:
pd.value_counts(quartiles)

(-3.6999999999999997, -0.66]    250
(-0.66, -0.028]                 250
(-0.028, 0.68]                  250
(0.68, 3.15]                    250
dtype: int64

In [28]:
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4,precision=1)
quartiles

[(0.7, 3.4], (0.7, 3.4], (0.07, 0.7], (0.7, 3.4], (0.7, 3.4], ..., (-3.0, -0.6], (0.07, 0.7], (-0.6, 0.07], (-0.6, 0.07], (0.07, 0.7]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.0, -0.6] < (-0.6, 0.07] < (0.07, 0.7] < (0.7, 3.4]]

In [29]:
json_df.describe()

               X          Y
count  44.000000  44.000000
mean    9.000000   7.500455
std     3.198837   1.959244
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

In [55]:
json_df.query('X > 3')

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [50]:
#7.3
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s2 = pd.Series(['one', 'two', None, 'three', 1], dtype=pd.StringDtype())

In [47]:
s2

0      one
1      two
2     <NA>
3    three
4        1
dtype: string

In [58]:
json_df['X'] = json_df['X'].astype("Int64")

In [66]:
x_category = json_df['X'].astype("category")
x_category_array = x_category.array
x_category_array.categories

Index([4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 19], dtype='object')

In [67]:
x_category_array.categories.value_counts()

4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
19    1
dtype: int64